<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BASIC</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="./estilo.css" >

    <!--Estilos de navbar menu-->
    <link type="text/css" rel="stylesheet" href="css/navbarmenu.css"> 

   
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    

<header> </header>

<button class="btn-bars" data-pushbar-target="mypushbar1">
    <div class="burmenu"></div>
    <div class="burmenu"></div>
    <div class="burmenu"></div>
</button>


<div data-pushbar-id="mypushbar1" data-pushbar-direction="left">
       
  <section class="navbar"  >


      <nav class="listleft">
          <ul >
      
              <li  ><a   href="/informacion">Menu</a></li>
              <li><a  id="ilbasico" href="#">Basico</a>
                  <ul>
                  <li><a href="/saludos1">Saludos y expreciones</a></li>
                  <li><a href="/verbotobe">video verbo to be</a>
                      <ul>
                          <li><a href="/videobasico1">Verbos más Utilizados</a></li>
                      </ul>
                  </li>
                  <li><a href="/videobasico2">Aprende los Prombres Personales</a></li>
                  <li><a href="/videobasico3">Más Vocabulario aprende los Colores</a></li>
                  </ul>
       </li>
      
       <li>
          <a href="#">Intermedio</a>
          <ul>
          <li><a href="/phrasalVerbs">Frases Verbales</a></li>
          <li><a href="/videointermediotema1">Conversaciones en Ingles</a></li>
          <li><a href="/videointermediotema2">Conversaciones en Ingles</a></li>
          <li><a href="/videointermediotema3">Serie de Comedia</a></li>
          </ul>

      </li>
      <li>
          <a href="#">Avanzado</a>
          <ul>

          <li><a href="/avanzadotema1">Indirect Questions</a>
              <ul>
                  <li><a href="/videoavanzadotema1">Práctica de Pronunciación 1</a></li>
              </ul>
          </li>

          <li><a href="/avanzadotema2">Comparing with prepositions</a>
              <ul>
                  <li><a href="/videoavanzadotema2">Práctica de Pronunciación 2 </a></li>
              </ul>
          </li> 

          <li><a href="/avanzadotema3">Passive Voice</a></li>

          <li><a href="/avanzadotema4">Cláusulas Relativas</a></li>
          <li><a href="/avanzadotema5">Práctica de Pronunciación 2 </a></li>
          </ul>
      </li>
          </ul>
      </nav>
      
      
      
      
      </section>
      

</div>

<section class="contenidoingles">
    <div class="titlecontenido">
    
        <h1 align="center">BASIC</h1> 
        <div class="parrafocontenido"> 
    
            <p id="parrafo">
                Hablaremos de :</p>
       – Nouns / Subjects / adjectives / verbs / adverbs / complement / modifiers.<br>
    <p><b>Nouns : (sustantivos)</b></p>
    <br>
        Names a person, place, thing or idea (Nombra a una persona, lugar, cosa, o idea).<br>
        Examples: John, love, world, picture, Madrid.<br>
        <br>
        <p><b> Subject: (Sujeto)</b></p>
    <p>  It is the person, place, thing or idea (a noun) that does the action of a sentence and it goes before the verb. (Es el sustantivo que realiza la accion de la oracion).<br>
        Examples of Subjects:</p>
        <br>
      – George likes boats (George and boats are nouns but George is the subject)<br>
      – The weather was horrible yesterday.<br>
      – The bank closed early.<br>
      <br>
    <p><b> Verb (verbo)</b></p>
    <p>It shows the action of the subject. Every sentence must have a verb. (Hace la acción del sujeto y toda oracion necesita de un verbo).
     Examples:</p>
     <br>
      – My wife went to France.<br>
      – We have studied English all night.<br>
      – I am writing a letter.<br>
      – She works for IBM company.<br>
      <BR>
        <BR>
     <p><b>  Adjective (adjetivo):</b> </p>

     <br>
       <p>Describes a noun (califica a un sustantivo).<br> – Examples : Blue house , old man, interesting book, pretty woman etc…</p>
       <br>
       <br>
    <p><b> Adverb (adverbio):</b></p>
    <br>
    <br>
    <p> Describes the verb or adjective. (califica al verbo o adjetivo)<br> – Examples: He walks slowly / He studies quietly (muchas veces acaba en -ly).</p>
    <br>
      <p><b> Complement:</b></p>
      <br>
    <p> It completes the verb and it is usually a noun or noun phrase.<br> Every sentence does not require a complement.<br> The complement answers the question what? or whom? (Es el complemento del verbo y no es requerido tenerlo en toda oración).</p>
    <br>
    <p><b> Modifiers</b></p> 
    <br>
        Tells about the time, place or manner of the action. (Hable del tiempo, lugar y manera de accion del verbo).<br>
        Subject	Verb	Complement	Modifier.<br>
        John and I	ate	a pizza	last week.<br>
        We	studied	english	last night.</p>
        <br>
        <h2>Pronouns and the verb (to be).</h2>
        <br>
        <p>Today we will talk about PRONOUNS and the verb (to be). It is important to understand perfectly these topics because it will help us in the future to understand other more complex structures.<br>
           En esta clase hablaremos de los pronombres de sujeto y el verbo to be en ingles. Esto es fundamental puesto que nos ayudara a comprender mas adelante estructuras mas avanzadas. </p>
           <br>
    <h3 align ="center">Los Pronombres en INGLES (Subjective Pronouns</h3>
    <br>
    <p>Pronouns :</p>
    <br>
    <p><b>Singular:</b> I , You, He, She It.</p>
    <p><b>Plural:</b> We you they.</p>
    <br>
    <h3 align ="center"> Verbo SER o ESTAR en INGLES</h3>
    <br>
        <p>Verb to be (in the present form): am/is/are<br>
            <br>
        <b>Table # 1 (Positive form) Pronouns with the verb to be (am/is/are) and its Contractions.</b><br>
        <br>
        A continuación mostraremos las diversas conjugaciones de los verbos SER o ESTAR en inglés.<br> Recuerden que en el idioma ingles solo hay un verbo “TO BE” para ser o estar.<br> Es decir, I AM se entiende como YO SOY o YO ESTOY. Esto siempre es de acuerdo al contexto.</p>
        <br>
        <br>
          <table border="1" align="center">
            <tr align="center" bgcolor="yellow">
              <td></td>
              <td>“Subject” Pronouns</td>
              <td>Verb(To be)</td>
              <td>Contraction</td>
            </tr>
            <tr align="center">
              <td>1St</td>
              <td>I</td>
              <td>am</td>
              <td>I’m</td>
            </tr>
            <tr align="center">
              <td>2nd</td>
              <td>you</td>
              <td>are</td>
              <td>you’re</td>
            </tr>
            <tr align="center">
              <td>3rd</td>
              <td>He/She/It</td>
              <td>Is</td>
              <td>he’s / she’s / it’s</td>
            </tr>
            <tr bgcolor="yellow">
              <td colspan="4" align="center">PLURAL</td>
            </tr>
            <tr align="center">
              <td>1st</td>
              <td>We</td>
              <td rowspan="3">are</td>
              <td>we’re</td>
            </tr>
            <tr align="center">
              <td>2nd</td>
              <td>You</td>
              <td>you’ re</td>
            </tr>
            <tr align="center">
              <td>3rd</td>
              <td>They</td>
              <td>they’re</td>
            </tr>
          </table>
          <br>
          <br>
          <p><b>Table 2 : (Negative form) Pronouns with the verb to be (am/is/are) and its Contractions.</b></p>
          <br>
          <br>
          <table border="1" align="center">
            <tr align="center" bgcolor="yellow">
              <td></td>
              <td>“Subject” Pronouns</td>
              <td>Verb(To be)</td>
              <td>Contraction</td>
            </tr>
            <tr align="center">
              <td>1St</td>
              <td>I</td>
              <td>am + not</td>
              <td>I’m not</td>
            </tr>
            <tr align="center">
              <td>2nd</td>
              <td>you</td>
              <td>are + not</td>
              <td>you’re not / you aren’t</td>
            </tr>
            <tr align="center">
              <td>3rd</td>
              <td>He/She/It</td>
              <td>is + not</td>
              <td>he’s / she’s / it’s + not
                or
                he/she/it + isn’t</td>
            </tr>
            <tr bgcolor="yellow">
              <td colspan="4" align="center">PLURAL</td>
            </tr>
            <tr align="center">
              <td>1st</td>
              <td>We</td>
              <td rowspan="3">Are +not</td>
              <td>we’re not / we aren’t</td>
            </tr>
            <tr align="center">
              <td>2nd</td>
              <td>You</td>
              <td>you’ re not / you aren’t</td>
            </tr>
            <tr align="center">
              <td>3rd</td>
              <td>They</td>
              <td>they’re not / they aren’t</td>
            </tr>
          </table>
          <br>
          <br>
          <p><b>Table # 3 (Questions)</b></p>
          <br>
          <br>
          <table border="1" align="center">
            <tr align="center" bgcolor="yellow">
              <td></td>
              <td>“Subject” Pronouns</td>
              <td>Verb(To be)</td>
              <td>Contraction</td>
            </tr>
            <tr align="center">
              <td>1St</td>
              <td>Am</td>
              <td>I</td>
              <td>a good student?</td>
            </tr>
            <tr align="center">
              <td>2nd</td>
              <td>Are</td>
              <td>you</td>
              <td>married?</td>
            </tr>
            <tr align="center">
              <td>3rd</td>
              <td>Is</td>
              <td>he/she/it</td>
              <td>your friend?</td>
            </tr>
            <tr bgcolor="yellow">
              <td colspan="4" align="center">PLURAL</td>
            </tr>
            <tr align="center">
              <td>1st</td>
              <td rowspan="3">Are</td>
              <td>we</td>
              <td>ready?</td>
            </tr>
            <tr align="center">
              <td>2nd</td>
              <td>you</td>
              <td>at home</td>
            </tr>
            <tr align="center">
              <td>3rd</td>
              <td>they</td>
              <td>tired?</td>
            </tr>
          </table>
          <br>
          <br>
          <p><b>Table 4: Short answers (Yes and no answers)</b></p>
          <br>
          <br>
          <table border="1" align="center">
            <tr align="center" bgcolor="yellow">
              <td></td>
              <td>Positive</td>
              <td>Negative</td>
            </tr>
            <tr align="center">
              <td>1St</td>
              <td>Yes, I am</td>
              <td>No. I’m not</td>
            </tr>
            <tr align="center">
              <td>2nd</td>
              <td>Yes, you are</td>
              <td>No, you aren’t</td>
            </tr>
            <tr align="center">
              <td>3rd</td>
              <td>Yes, he is</td>
              <td>No, he isn’t / No, he’s not<br> 
                No, she isn’t / No, she’s not<br>
                No, it isn’t/ No, it’s not.</td>
            </tr>
            <tr bgcolor="yellow">
              <td colspan="3" align="center">PLURAL</td>
            </tr>
            <tr align="center">
              <td>1st</td>
              <td>Yes, we are</td>
              <td>No, we’re not / No, we aren’t</td>
            </tr>
            <tr align="center">
              <td>2nd</td>
              <td>Yes, you are</td>
              <td>No, you’re not / No, you aren’t</td>
            </tr>
            <tr align="center">
              <td>3rd</td>
              <td>Yes, they are</td>
              <td>No, they’re not / No, they aren’t</td>
            </tr>
          </table>
          <br>
          <br>
          <p bgcolor="orange"><b>Observaciones:</b></p>
          <br>
          <br>
          <p>Recuerden que en ingles siempre deben poner el Sujeto. En una oración positiva o negativa deberán seguir la formula (SUBJECT + VERB + COMPLEMENT) en donde el complement es opcional.</p>
          <p>Ejemplo :<br>
            <br>
            – Es bonita.<br>
            – Is pretty (INCORRECTO) –> No hay sujeto y en el ingles es necesario.<br>
            – She is pretty (Correcto).<br><
            No se enamoren del verbo to be. Solo quiere decir ser o estar. Algunos creen que siempre lo deben poner pero depende de que acción haga el sujeto.</p>
           <p> Ejemplo:<br>
            <br>
        
            – Juega futbol.<br>
            – He is play futbol (ERROR) –> el sujeto no hace 2 acciones a la vez.<br>
            – He plays football (CORRECTO)</p>
            <p>Es decir, el sujeto puede hacer distintas acciones y el verbo to be solo es para expresar acciones de ser o estar. En otras lecciones aprenderemos como hacer oraciones con otros verbos</p>
            <h1>Verb to be with question words:</h1>
            <p>In this class we will talk about question words and how we can use them with the verb to be in the present tense.<br>
              En esta clase vamos a hablar de los “questions words” y de como podemos usarlos correctamente con los verbos “to be”.<br>  
              Question words are those words that may go in the beginning of a question. When we use question words we do not use a yes or no answer.<br>  
              Los “questions words” son las palabras específicas que se deben colocar al inicio de la frase pregunta en inglés. Cuando se utilizan estos no se responde con las respuestas cortas si o no (Yes, I am por ejemplo) Se responde con una oración completa ( S+V+C).</p>  
              <p><b>Ejemplo :</b><br>
                <br>
              <br>What’s your name?<br>
              <br>I’m David Taylor. (The answer is a sentence)<br> 
              <br>With no question word:<br>  
              Are you Maria?<br>
              No, I’m not (The answer is a yes/no because there isn’t a question word),<br>
              Question words are used to gather specific information. The following table shows the meaning of the question words in Spanish.</p>
              <br>
              <br>
        <table border="1" align="center">
          <tr bgcolor="orange">
            <td>English</td>
            <td>Spanish</td>
          </tr>
          <tr>
            <td>Where</td>
            <td>Donde</td>
          </tr>
          <tr>
            <td>Why</td>
            <td>Por que</td>
          </tr>
          <tr>
            <td>Who</td>
            <td>Quien</td>
          </tr>
          <tr>
            <td>What / (time)</td>
            <td>	Que / Cual (a que hora)</td>
          </tr>
          <tr>
            <td>Which</td>
            <td>	Que / Cual</td>
          </tr>
          <tr>
            <td>How long</td>
            <td>Por cuanto tiempo / para medidas</td>
          </tr>
          <tr>
            <td>How often</td>
            <td>Con que frecuencia</td>
          </tr>
          <tr>
            <td>Whose	</td>
            <td>De quien</td>
          </tr>
          <var><tr>
            <td>How many/much	</td>
            <td>	Cuantos</td>
          </tr>
          <tr>
            <td>How old</td>
            <td>	Edad</td>
          </tr>
          <tr>
            <td>How</td>
            <td>	Como</td>
          </tr>
          <tr>
            <td>How + adjetivo</td>
            <td>Descripciones</td>
          </tr>
          <tr>
            <td>How come</td>
            <td>Como asi</td>
          </tr>
        </table>   
        <br>
        <br>   
              <p>¿ De donde eres? -> Lo lógico seria : From where are you? (INCORRECTO)<br>
                Recuerden que si algo va en su idioma antes del QW entonces lo mandamos al final en el complemento.</p>
              <p>Correcto: Where are you from? (QW goes first)
              </p>
              <p>Typical questions with the above properties:</p>
              <p>What is this for? (¿Para que es esto?)<br>
                Who are the books for ? (¿Para quien son los libros?)<br>
                What is the movie about? (¿De que se trata la película?)</p>



        </div>
    </div>
    
    
    </section>

</body>
</html>






    <script src="./script.js"></script>
    <script src="./pushbar.js"></script>
    <script type="text/javascript">
        const pushbar = new Pushbar({
              blur:true,
              overlay:true,
            });
      </script>
          

</body>
</html>