<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="./estilo.css" >

    <!--Estilos de navbar menu-->
    <link type="text/css" rel="stylesheet" href="css/navbarmenu.css"> 

   
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    

<header> </header>

<button class="btn-bars" data-pushbar-target="mypushbar1">
    <div class="burmenu"></div>
    <div class="burmenu"></div>
    <div class="burmenu"></div>
</button>


<div data-pushbar-id="mypushbar1" data-pushbar-direction="left">
       
    <section class="navbar"  >


        <nav class="listleft">
            <ul >
        
                <li  ><a   href="/informacion">Menu</a></li>
                <li><a  id="ilbasico" href="#">Basico</a>
                    <ul>
                    <li><a href="/saludos1">Saludos y expreciones</a></li>
                    <li><a href="/verbotobe">video verbo to be</a>
                        <ul>
                            <li><a href="/videobasico1">Verbos más Utilizados</a></li>
                        </ul>
                    </li>
                    <li><a href="/videobasico2">Aprende los Prombres Personales</a></li>
                    <li><a href="/videobasico3">Más Vocabulario aprende los Colores</a></li>
                    </ul>
         </li>
        
         <li>
            <a href="#">Intermedio</a>
            <ul>
            <li><a href="/phrasalVerbs">Frases Verbales</a></li>
            <li><a href="/videointermediotema1">Conversaciones en Ingles</a></li>
            <li><a href="/videointermediotema2">Conversaciones en Ingles</a></li>
            <li><a href="/videointermediotema3">Serie de Comedia</a></li>
            </ul>

        </li>
        <li>
            <a href="#">Avanzado</a>
            <ul>

            <li><a href="/avanzadotema1">Indirect Questions</a>
                <ul>
                    <li><a href="/videoavanzadotema1">Práctica de Pronunciación 1</a></li>
                </ul>
            </li>

            <li><a href="/avanzadotema2">Comparing with prepositions</a>
                <ul>
                    <li><a href="/videoavanzadotema2">Práctica de Pronunciación 2 </a></li>
                </ul>
            </li> 

            <li><a href="/avanzadotema3">Passive Voice</a></li>

            <li><a href="/avanzadotema4">Cláusulas Relativas</a></li>
            <li><a href="/avanzadotema5">Práctica de Pronunciación 2 </a></li>
            </ul>
        </li>
            </ul>
        </nav>
        
        
        
        
        </section>
        

</div>

<section class="contenidoingles">
    <div class="titlecontenido">
    
        <h1 align="center">INDIRECT QUESTIONS</h1> 
        <div class="parrafocontenido"> 
    
            <p id="parrafo">
                First let’s look at this conversation   
            </p>
            <br>
            <p>
                Me: Excuse me. Could you tell me where the bus stop is?<br>
                Person in the street: Sure. It’s next to that resraurant.<br>
                Me: Thank you. And do you know if there’s a mall near here?<br>
                Person in the street: Yes, there’s one next to the museum.<br>
                Me: Thank you very much for your help.
                <br>
                Indirect questions start with a phrase like ‘could you tell me…’ or ‘do you know…’
             
            </p>
            <br>
            <p> for example </p>
            <br>
            <p>
                Direct question: Where is the restaurant?
                <br> Indirect question: Could you tell me where the restaurant is?
            </p>
            <br>
            <p> Notice that in the indirect question I put the verb (‘is’) after the subject (‘the restaurant’), in the same way as I do with a normal positive sentence (‘the bank is over there’), but in the direct question I put the verb ‘is’ before the subject ‘the restaurant’.</p>
            <br>
            <p> Indirect questions are a way of being polite. They are very, very common in English, especially when you’re talking to someone you don’t know.</p>
            <br>
            <br>
            <p align ="center"> Exercise 1.- Grammar </p>
            <br>
            <br>
            <p>Change these direct questions into Indirect questions.</p>
            <br>
            <br>
            <p> a) Where is the post office?
            </p>
            <p><input type="text" name="respuesta" size="50" maxlength="50"/></p>
            <br>
            <p>  b) Is there a library near here?
            </p>
            <p><input type="text" name="respuesta" size="50" maxlength="50"/></p>
            <br>
            <p>  c) Does your city have a swimming pool?
            </p>
            <p><input type="text" name="respuesta" size="50" maxlength="50"/></p>
            <br>
            <p>  d) When is the next train?
            </p>
            <p><input type="text" name="respuesta" size="50" maxlength="50"/></p>
            <br>
            <p>   e) Is there a cinema in the shopping centre?
            </p>
            <p><input type="text" name="respuesta" size="50" maxlength="50"/></p>
            <br>
            <p>    f) Why is the plane delayed?
            </p>
            <p><input type="text" name="respuesta" size="50" maxlength="50"/></p>
            <br>
            <p>   g) How old are you?
            </p>
            <p><input type="text" name="respuesta" size="50" maxlength="50"/></p>
            <br>
        </div>
    </div>
    
    
    </section>

</body>
</html>






    <script src="./script.js"></script>
    <script src="./pushbar.js"></script>
    <script type="text/javascript">
        const pushbar = new Pushbar({
              blur:true,
              overlay:true,
            });
      </script>
          

</body>
</html>