<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="./estilo.css" >

    <!--Estilos de navbar menu-->
    <link type="text/css" rel="stylesheet" href="css/navbarmenu.css"> 

    
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    

<header> </header>

<button class="btn-bars" data-pushbar-target="mypushbar1">
    <div class="burmenu"></div>
    <div class="burmenu"></div>
    <div class="burmenu"></div>
</button>


<div data-pushbar-id="mypushbar1" data-pushbar-direction="left">
       
    <section class="navbar"  >


        <nav class="listleft">
            <ul >
        
                <li  ><a   href="/informacion">Menu</a></li>
                <li><a  id="ilbasico" href="#">Basico</a>
                    <ul>
                    <li><a href="/saludos1">Saludos y expreciones</a></li>
                    <li><a href="/verbotobe">video verbo to be</a>
                        <ul>
                            <li><a href="/videobasico1">Verbos más Utilizados</a></li>
                        </ul>
                    </li>
                    <li><a href="/videobasico2">Aprende los Prombres Personales</a></li>
                    <li><a href="/videobasico3">Más Vocabulario aprende los Colores</a></li>
                    </ul>
         </li>
        
         <li>
            <a href="#">Intermedio</a>
            <ul>
            <li><a href="/phrasalVerbs">Frases Verbales</a></li>
            <li><a href="/videointermediotema1">Conversaciones en Ingles</a></li>
            <li><a href="/videointermediotema2">Conversaciones en Ingles</a></li>
            <li><a href="/videointermediotema3">Serie de Comedia</a></li>
            </ul>

        </li>
        <li>
            <a href="#">Avanzado</a>
            <ul>

            <li><a href="/avanzadotema1">Indirect Questions</a>
                <ul>
                    <li><a href="/videoavanzadotema1">Práctica de Pronunciación 1</a></li>
                </ul>
            </li>

            <li><a href="/avanzadotema2">Comparing with prepositions</a>
                <ul>
                    <li><a href="/videoavanzadotema2">Práctica de Pronunciación 2 </a></li>
                </ul>
            </li> 

            <li><a href="/avanzadotema3">Passive Voice</a></li>

            <li><a href="/avanzadotema4">Cláusulas Relativas</a></li>
            <li><a href="/avanzadotema5">Práctica de Pronunciación 2 </a></li>
            </ul>
        </li>
            </ul>
        </nav>
        
        
        
        
        </section>
        

</div>


<section class="contenidoingles">
    <div class="titlecontenido">
    
        <h1 align="center">Cláusulas Relativas</h1> 
        <div class="parrafocontenido"> 
    
            <p id="parrafo">
                Aquí aprenderás sobre los pronombres relativos en inglés: that, which, who, whom, whose. Al usarlos podemos formar lo que se conoce como cláusulas relativas. Estos temas se conocen en inglés como Relative Pronouns y Relative Clauses respectivamente.</p>
            <br>
            <h3 align="center">¿Qué es un pronombre relativo?</h3>
            <br>
            <p>
                Un pronombre relativo es una palabra que une una frase a la oración. La mejor forma de explicar este tema es mediante un ejemplo:<br>
                <br>
                The man that called me last night is my father. / El hombre que me llamó ayer es mi padre.<br>
                La palabra That (que) es un pronombre relativo que reemplaza la expresión “The man” e introduce una frase a la oración. Las frases que se adicionan por medio de las palabras that, which, who, whom, whose son conocidas como frases o cláusulas relativas (más adelante hablaremos de este tema).
            </p>
            <br>
            <h3>Significados</h3>
            <br>
            <ul>
                <li type="square">That /ðæt/: que</li>
                <li type="square">Which /wɪtʃ/: que, el/la cual</li>
                <li type="square">Who /huː/: quien, quienes, que</li>
                <li type="square">Whom /huːm/: a quien/ a quienes</li>
                <li type="square">Whose /huːz/: cuyo/a, cuyos/as, de quien, de quienes</li>
            </ul> 
            <br>
            <h3 align ="center">Usos y ejemplos de las palabras relativas:</h3>
            <br>
            <center>
                <img src="./imagen/pronombres relativos.png" width="600px" height="500px">
            </center>
            <br>
            <h3 align="center">Las cláusulas relativas en inglés</h3>
            <br>
            <br>
            <p> La palabra cláusulas puede sonar un poco extraña. Por lo tanto, vamos a entender Cláusula como sinónimo de Frase. En ese sentido, las frases que se unen por medio de los pronombres relativos en inglés who, which, that, whom y whose se llaman frases relativas. Existen dos tipos:</p>
            <br>
            <h3>Cláusulas relativas restrictivas:</h3>
            <br>
            <p>
                Estas frases proveen información esencial sobre el sustantivo al cual reemplazan. Si intentamos quitar la frase relativa, la oración cambiaría de sentido. Ejemplo:
                <br>
                <li type ="circle">I bought the phone that we checked online yesterday. / Compré el teléfono que revisamos en línea ayer.
                </li>
                <br>
                Si omitimos la frase that we checked online yesterday (que revisamos en línea ayer), la frase cambiaria de sentido.
            </p>
            <br>
            <h3>Cláusulas relativas no restrictivas:</h3>
            <br>
            <p>
                Estas cláusulas pueden ser omitidas sin afectar el significado general de la oración. Ejemplo:<br>
                <li type="circle">Andy, who is one of my best friends, called me yesterday. / Andy, que es uno de mis mejores amigos, me llamó ayer.
                </li>
                <br>
                Si omitimos who is one of my best friends (que es uno de mis mejores amigos), el sentido de la frase no se afectaría radicalmente.
            </p>

              





        </div>
    </div>
    
    
    </section>

</body>
</html>






    <script src="./script.js"></script>
    <script src="./pushbar.js"></script>
    <script type="text/javascript">
        const pushbar = new Pushbar({
              blur:true,
              overlay:true,
            });
      </script>
          

</body>
</html>