<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="./estilo.css" >

    <!--Estilos de navbar menu-->
    <link type="text/css" rel="stylesheet" href="css/navbarmenu.css"> 



    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    

<header> </header>

<button class="btn-bars" data-pushbar-target="mypushbar1">
    <div class="burmenu"></div>
    <div class="burmenu"></div>
    <div class="burmenu"></div>
</button>


<div data-pushbar-id="mypushbar1" data-pushbar-direction="left">
       
    <section class="navbar"  >


        <nav class="listleft">
            <ul >
        
                <li  ><a   href="/informacion">Menu</a></li>
                <li><a  id="ilbasico" href="#">Basico</a>
                    <ul>
                    <li><a href="/saludos1">Saludos y expreciones</a></li>
                    <li><a href="/verbotobe">video verbo to be</a>
                        <ul>
                            <li><a href="/videobasico1">Verbos más Utilizados</a></li>
                        </ul>
                    </li>
                    <li><a href="/videobasico2">Aprende los Prombres Personales</a></li>
                    <li><a href="/videobasico3">Más Vocabulario aprende los Colores</a></li>
                    </ul>
         </li>
        
         <li>
            <a href="#">Intermedio</a>
            <ul>
            <li><a href="/phrasalVerbs">Frases Verbales</a></li>
            <li><a href="/videointermediotema1">Conversaciones en Ingles</a></li>
            <li><a href="/videointermediotema2">Conversaciones en Ingles</a></li>
            <li><a href="/videointermediotema3">Serie de Comedia</a></li>
            </ul>

        </li>
        <li>
            <a href="#">Avanzado</a>
            <ul>

            <li><a href="/avanzadotema1">Indirect Questions</a>
                <ul>
                    <li><a href="/videoavanzadotema1">Práctica de Pronunciación 1</a></li>
                </ul>
            </li>

            <li><a href="/avanzadotema2">Comparing with prepositions</a>
                <ul>
                    <li><a href="/videoavanzadotema2">Práctica de Pronunciación 2 </a></li>
                </ul>
            </li> 

            <li><a href="/avanzadotema3">Passive Voice</a></li>

            <li><a href="/avanzadotema4">Cláusulas Relativas</a></li>
            <li><a href="/avanzadotema5">Práctica de Pronunciación 2 </a></li>
            </ul>
        </li>
            </ul>
        </nav>
        
        
        
        
        </section>
        

</div>

<section class="contenidoingles">
    <div class="titlecontenido">
    
        <h1 align="center">PASSIVE VOICE</h1> 
        <div class="parrafocontenido"> 
    
            <p id="parrafo">
                Passive voice produces a sentence in which the subject receives an action. In contrast, active voice produces a sentence in which the subject performs an action. Passive voice often creates unclear, less direct, wordy sentences, whereas active voice creates clearer, more concise sentences.
                <br>
                To change a sentence from passive to active voice, determine who or what performs the action, and use that person or thing as the subject of the sentence.</p>
                <br>
                <br>
            <h3>EXAMPLES</h3>
            <br>
            <br>
            <ul>
                <li type="square">PASSIVE VOICE: My first trip abroad will always be remembered by me.</li>
                <li type="square">PASSIVE VOICE: My first trip abroad is one I will always remember. </li>
                <li type="square">ACTIVE VOICE: I will always remember my first trip abroad.</li>
            </ul>
            <br>
            <br>
            <ul>
                <li type="square">PASSIVE VOICE: On April 19, 1775, arms were seized by British soldiers at Concord, precipitating the American Revolution.</li>
                <li type="square">ACTIVE VOICE: On April 19, 1775, British soldiers seized arms at Concord, precipitating the American Revolution.</li>
            </ul>
            <br>
            <br>
            <ul>
                <li type="square">PASSIVE VOICE: Thomas Jefferson’s support of the new Constitution was documented in a letter to James Madison. </li>
                <li type="square">ACTIVE VOICE: Thomas Jefferson documented his support of the new Constitution in a letter to James Madison.</li>
            </ul>
            <br>
            <br>
            <p>Forming the passive voice
            </p>
            <br>
            <p> The passive voice in English is composed of two elements:<br>
                the appropriate form of the verb 'to be' + past participle</p>
            <br>
            <br>
            <table border="1" cellpadding="0" cellspacing="0" width="75%" bgcolor="#BD6379">
                <thead bgcolor="#7F96E0"></thead>
                <tr>
                    <td>Affirmative</td>
                    <td>Negative</td>
                    <td>Interrogative</td>
                    <td>Negative interrogative</td>

                </tr>
                    <td>The house was built in 1899.</td>
                    <td>The house wasn't built in 1899.</td>
                    <td>Was the house built in 1899?</td>
                    <td>Wasn't the house built in 1899?</td>

                <tr>

                </tr>
                    <td>The house was built in 1899.</td>
                    <td>The house wasn't built in 1899.</td>
                    <td>Was the house built in 1899?</td>
                    <td>Wasn't the house built in 1899?</td>
            </table>
            <br>
            <br>
            <h3>Passive voice with infinitives
            </h3>
            <br>
            <p> The infinitive passive voice is used after modal verbs and other most verbs normally followed by an infinitive.</p>
            <br>
            <ul>
                <li type="circle">You have to be tested on your English grammar.</li>
                <li type="circle">John might be promoted next year.</li>
                <li type="circle">She wants to be invited to the party.</li>
                <li type="circle">I expect to be surprised on my birthday.</li>
                <li type="circle">You may be disappointed.</li>
            </ul>
            <br>
            <br>
            <h3>Passive voice with gerunds</h3>
            <br>
            <p> Gerunds are used after prepositions and verbs normally followed by a gerund.</p>
            <br>
            <ul>
                <li type="circle">I remember being taught to drive.</li>
                <li type="circle">The children are excited about being taken to the zoo.</li>
                <li type="circle">The children are excited to be taken to the zoo.</li>
                <li type="circle">Most film stars hate being interviewed.</li>
                <li type="circle">Most film stars hate to be interviewed.</li>
                <li type="circle">Poodles like to be pampered.</li>
                <li type="circle">Poodles like being pampered.</li>
            </ul>



        </div>
    </div>
    
    
    </section>

</body>
</html>






    <script src="./script.js"></script>
    <script src="./pushbar.js"></script>
    <script type="text/javascript">
        const pushbar = new Pushbar({
              blur:true,
              overlay:true,
            });
      </script>
          

</body>
</html>