<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="./estilo.css" >

    <!--Estilos de navbar menu-->
    <link type="text/css" rel="stylesheet" href="css/navbarmenu.css"> 


    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    

<header> </header>

<button class="btn-bars" data-pushbar-target="mypushbar1">
    <div class="burmenu"></div>
    <div class="burmenu"></div>
    <div class="burmenu"></div>
</button>


<div data-pushbar-id="mypushbar1" data-pushbar-direction="left">
       
    <section class="navbar"  >


        <nav class="listleft">
            <ul >
        
                <li  ><a   href="/informacion">Menu</a></li>
                <li><a  id="ilbasico" href="#">Basico</a>
                    <ul>
                    <li><a href="/saludos1">Saludos y expreciones</a></li>
                    <li><a href="/verbotobe">video verbo to be</a>
                        <ul>
                            <li><a href="/videobasico1">Verbos más Utilizados</a></li>
                        </ul>
                    </li>
                    <li><a href="/videobasico2">Aprende los Prombres Personales</a></li>
                    <li><a href="/videobasico3">Más Vocabulario aprende los Colores</a></li>
                    </ul>
         </li>
        
         <li>
            <a href="#">Intermedio</a>
            <ul>
            <li><a href="/phrasalVerbs">Frases Verbales</a></li>
            <li><a href="/videointermediotema1">Conversaciones en Ingles</a></li>
            <li><a href="/videointermediotema2">Conversaciones en Ingles</a></li>
            <li><a href="/videointermediotema3">Serie de Comedia</a></li>
            </ul>

        </li>
        <li>
            <a href="#">Avanzado</a>
            <ul>

            <li><a href="/avanzadotema1">Indirect Questions</a>
                <ul>
                    <li><a href="/videoavanzadotema1">Práctica de Pronunciación 1</a></li>
                </ul>
            </li>

            <li><a href="/avanzadotema2">Comparing with prepositions</a>
                <ul>
                    <li><a href="/videoavanzadotema2">Práctica de Pronunciación 2 </a></li>
                </ul>
            </li> 

            <li><a href="/avanzadotema3">Passive Voice</a></li>

            <li><a href="/avanzadotema4">Cláusulas Relativas</a></li>
            <li><a href="/avanzadotema5">Práctica de Pronunciación 2 </a></li>
            </ul>
        </li>
            </ul>
        </nav>
        
        
        
        
        </section>
        

</div>

<section class="contenidoingles">
    <div class="titlecontenido">
    
        <h1 align="center">COMPARING WITH PREPOSITIONS</h1> 
        <div class="parrafocontenido"> 
    
            <p id="parrafo">
                Use: We are going to compare using the mentioned form when we want to talk about general comparisons
                Prepositions that we use to compare:
            </p>
                                <br>
            <ul>
                <li type ="circle">Different from</li>
                <li type ="circle">The same as</li>
                                            <li type ="circle">similar to</li> 
            </ul>
            <br>
            <br>
            <p>
              The position is like any other preposition (in, for, with). We need to separate the two NOUNS we are comparing
              Let’s suppose that A refers to one noun and B to another. This can represent a city, a person, etc. The structure would be the folllowing
            </p>
            <br>
            <br>
            <h3 align ="center">A is + PREPOSITION + B</h3>
            <br>
            <br>
            <p>
                As you can see the preposition is in between the two nouns that we are comparing
                <br>
                Examples:
            </p>
            <ul>
                <li type="circle">Juan is similar to Pedro.</li>
                <li type="circle">The weather in Miami is the same as the weather in Cancun.</li>
                <li type="circle">His house is diferrent from mine.</li>
            </ul>
            <br>
            <br>
            <h1>Comparing with “generic” Adjectives</h1>
            <br>
            <br>
            <p>
                Use: also for general comparisons
    
                Syntax (Structure)
    
                Adjectives that we use to compare:
            </p>
            <br>
            <ul>
                <li type="square">Different</li>
                <li type="square">The same </li>
                <li type="square">Similar</li>
            </ul>
            <br>
            <br>
            <p>
                With adjectives we need to first GROUP and mention the two NOUNS that we are comparing. Following the previuos idea, where A and B represent a noun we would group it like this:
            </p>
            <br>
            <br>
            <h3 align ="center">A and B are + ADJECTIVE</h3>
            <br>
            <br>
            <p>Examples: </p>
            <br>
            <ul>
                <li type="square">Juan and Pedro are  similar.</li>
                <li type="square">His house and mine are  diferrent. </li>
            </ul>
        </div>
    </div>
    
    
    </section>

</body>
</html>






    <script src="./script.js"></script>
    <script src="./pushbar.js"></script>
    <script type="text/javascript">
        const pushbar = new Pushbar({
              blur:true,
              overlay:true,
            });
      </script>
          

</body>
</html>