<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="./pushbar.css" >

    <!--Estilos de navbar menu-->
    <link type="text/css" rel="stylesheet" href="css/navbarmenu.css"> 



    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    

<header> </header>

<button class="btn-bars" data-pushbar-target="mypushbar1">
    <div class="burmenu"></div>
    <div class="burmenu"></div>
    <div class="burmenu"></div>
</button>

<!-- data-pushbar-id  son los estilos de despliegue de la libreria pushbar-->
<div data-pushbar-id="mypushbar1" data-pushbar-direction="left">
       
    <section class="navbar"  >


        <nav class="listleft">
            <ul >
        
                <li  ><a   href="/informacion">Menu</a></li>
                <li><a  id="ilbasico" href="#">Basico</a>
                    <ul>
                    <li><a href="/saludos1">Saludos y expreciones</a></li>
                    <li><a href="/verbotobe">video verbo to be</a>
                        <ul>
                            <li><a href="/videobasico1">Verbos más Utilizados</a></li>
                        </ul>
                    </li>
                    <li><a href="/videobasico2">Aprende los Prombres Personales</a></li>
                    <li><a href="/videobasico3">Más Vocabulario aprende los Colores</a></li>
                    </ul>
         </li>
        
         <li>
            <a href="#">Intermedio</a>
            <ul>
            <li><a href="/phrasalVerbs">Frases Verbales</a></li>
            <li><a href="/videointermediotema1">Conversaciones en Ingles</a></li>
            <li><a href="/videointermediotema2">Conversaciones en Ingles</a></li>
            <li><a href="/videointermediotema3">Serie de Comedia</a></li>
            </ul>

        </li>
        <li>
            <a href="#">Avanzado</a>
            <ul>

            <li><a href="/avanzadotema1">Indirect Questions</a>
                <ul>
                    <li><a href="/videoavanzadotema1">Práctica de Pronunciación 1</a></li>
                </ul>
            </li>

            <li><a href="/avanzadotema2">Comparing with prepositions</a>
                <ul>
                    <li><a href="/videoavanzadotema2">Práctica de Pronunciación 2 </a></li>
                </ul>
            </li> 

            <li><a href="/avanzadotema3">Passive Voice</a></li>

            <li><a href="/avanzadotema4">Cláusulas Relativas</a></li>
            <li><a href="/avanzadotema5">Práctica de Pronunciación 2 </a></li>
            </ul>
        </li>
            </ul>
        </nav>
        
        
        
        
        </section>
        

</div>

<section class="contenidoingles">
<div class="titlecontenido">

    <h1>Descripción</h1> 
    <div class="parrafocontenido"> 

        <p id="parrafo">En la actualidad resulta imprescindible aprender una segunda lengua ya que cada día se emplean otros idiomas en casi todas las áreas del conocimiento y desarrollo humano. En el marco de la educación, el aprendizaje de otra u otras lenguas es una necesidad primordial para los estudiantes, de tal manera, que el aprender una segunda lengua, aparte de la que ya se aprendió (la oficial), no es lujo, sino una necesidad. Incluso fuera del ambiente académico la importancia de los idiomas para sobrevivir en el extranjero es importante como medio de comunicación en todas partes del mundo. El aprendizaje de lenguas permite: enriquecer la vida, experimentar nuevas ideas, ejercitar la mente, beneficiarse de la diversidad cultural mundial, así como mejorar considerablemente las perspectivas profesionales.
            Con la realización de este proyecto pretendemos que los estudiantes desde muy temprana edad se familiaricen con el ingles como su segunda lengua para favorecer su paso a grados mas avanzados.</p>
            
        <h1>Objetivo General:</h1> 
            <div class="parrafocontenido"> 
        
                <p>Brindar una introduccion a los estudiantes desde temprana edad al idioma ingles, mediante la identificacion de los elementos que los rodean diariamente para que puedan asimilarlo de manera mas sencilla en grados superiores, apoyados en las TIC</p>
        
            </div>
    </div>

   
</div>


</section>





<section class="contenidoingles">
    <div class="titlecontenido">
    
        <h1>Objetivos Especificos:</h1> 
        <div class="parrafocontenido"> 
    
            <p>-          Identificar que elementos nos rodean mediante salidas de observación a campo y socialización de información

                -          Familiarizar los elementos de mi entorno con su significado en idioma ingles mediante actividad lúdicas que puedan ofrecernos las TIC
                Dinamizar el aprendizaje de los estudiantes hacia el idioma ingles mediante herramientas de su interés</p>
    
        </div>
    </div>
    
    
    </section>




    <script src="./script.js"></script>
    <script src="./pushbar.js"></script>
    <script type="text/javascript">
        const pushbar = new Pushbar({
              blur:true,
              overlay:true,
            });
      </script>
          

</body>
</html>