<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Saturn Ingles</title>

    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<!--css animate agregado -->
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/login.css">
    
</head>
<body>
    

    <form method="POST" action="/login" class="formulariocaja animate__animated animate__backInUp">
        <img class="formicon" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/000000/external-login-web-store-flaticons-lineal-color-flat-icons-3.png"/>
        <h1 class="formulariotitulo">Login</h1>
        <input class="textoinput" type="text" name="username" placeholder="user">
        <input type="password" name="password" placeholder="password"> 
        <input type="submit" value="Login in">
    </form>



</body>
</html>