html.pushbar_locked {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.pushbar_locked .pushbar_main_content.pushbar_blur {
    filter: blur(15px);
}

.pushbar_overlay {
    z-index: -999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: opacity;
    transition: opacity 0.5s ease;
    opacity: 0;
    background: #36357A;
}

html.pushbar_locked .pushbar_overlay {
    opacity: 0.8;
    z-index: 999;
}

[data-pushbar-id] {
    z-index: 1000;
    position: fixed;
    overflow-y: auto;
    will-change: transform;
    transition: transform 0.5s ease;
    background: #fff;
}

[data-pushbar-direction="left"][data-pushbar-id],
[data-pushbar-direction="right"][data-pushbar-id] {
    top: 0;
    width: 256px;
    max-width: 100%;
    height: 100%;
}

[data-pushbar-direction="top"][data-pushbar-id],
[data-pushbar-direction="bottom"][data-pushbar-id] {
    left: 0;
    width: 100%;
    min-height: 150px;
}

[data-pushbar-direction="left"][data-pushbar-id] {
    left: 0;
    transform: translateZ(0) translateX(-100%);
}

[data-pushbar-direction="right"][data-pushbar-id] {
    right: 0;
    transform: translateZ(0) translateX(100%);
}

[data-pushbar-direction="top"][data-pushbar-id] {
    top: 0;
    transform: translateZ(0) translateY(-100%);
}

[data-pushbar-direction="bottom"][data-pushbar-id] {
    bottom: 0;
    transform: translateZ(0) translateY(100%);
}

[data-pushbar-id].opened {
    display: block;
    transform: translateX(0px) translateY(0px);
}

.navbar {

    margin: auto !important;
    width: 100% !important;
    height: 100% !important;
    float: left !important;
    background: #15153B !important;
    position: fixed !important;
}

ul,
ol {

    list-style: none !important;
}

nav li a {

    background: #15153B !important;
    text-decoration: none !important;
    color: white !important;
    padding: 10px 15px !important;
    display: inline-block !important;
    width: 100% !important;
    box-sizing: border-box !important;
    font-size: 25px !important;

}



nav li a:hover {
    background-color: #434343 !important;
    text-decoration: underline !important;
    transition: .4s !important;

}

nav>li {

    float: left !important;
}

nav li ul {
    text-decoration: none !important;
    display: none !important;
    position: relative !important;
    min-width: 140px !important;
    padding: 0px 0px 0px 10px !important;
}

nav li:hover>ul {
    display: block !important;


}

nav li:hover~ul {

    color: red !important;
    display: block !important;
}

.btn-bars {

    width: 50px !important;
    height: 50px !important;
    border: none !important;
    background-color: black !important;
    border-radius: 50% !important;
    margin: 10px !important;
    position: fixed !important;
    transition: 0.5s !important;
}

.btn-bars:hover {

    background-color: rgba(170, 31, 49, 0.863) !important;
}

.burmenu {
    width: 23.50px !important;
    height: 2.5px !important;
    background-color: white !important;
    margin-top: 4px !important;
    margin-left: 12px !important;
    margin-bottom: 3px !important;
    box-sizing: border-box !important;
    position: relative !important;
    border-radius: 1px !important;

}