<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="../estilo.css" >

    <!--Estilos de navbar menu-->
    <link type="text/css" rel="stylesheet" href="css/navbarmenu.css"> 

    

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    

<header> </header>

<button class="btn-bars" data-pushbar-target="mypushbar1">
    <div class="burmenu"></div>
    <div class="burmenu"></div>
    <div class="burmenu"></div>
</button>

<div data-pushbar-id="mypushbar1" data-pushbar-direction="left">
       
    <section class="navbar"  >


        <nav class="listleft">
            <ul >
        
                <li  ><a   href="/informacion">Menu</a></li>
                <li><a  id="ilbasico" href="#">Basico</a>
                    <ul>
                    <li><a href="/saludos1">Saludos y expreciones</a></li>
                    <li><a href="/verbotobe">video verbo to be</a>
                        <ul>
                            <li><a href="/videobasico1">Verbos más Utilizados</a></li>
                        </ul>
                    </li>
                    <li><a href="/videobasico2">Aprende los Prombres Personales</a></li>
                    <li><a href="/videobasico3">Más Vocabulario aprende los Colores</a></li>
                    </ul>
         </li>
        
         <li>
            <a href="#">Intermedio</a>
            <ul>
            <li><a href="/phrasalVerbs">Frases Verbales</a></li>
            <li><a href="/videointermediotema1">Conversaciones en Ingles</a></li>
            <li><a href="/videointermediotema2">Conversaciones en Ingles</a></li>
            <li><a href="/videointermediotema3">Serie de Comedia</a></li>
            </ul>

        </li>
        <li>
            <a href="#">Avanzado</a>
            <ul>

            <li><a href="/avanzadotema1">Indirect Questions</a>
                <ul>
                    <li><a href="/videoavanzadotema1">Práctica de Pronunciación 1</a></li>
                </ul>
            </li>

            <li><a href="/avanzadotema2">Comparing with prepositions</a>
                <ul>
                    <li><a href="/videoavanzadotema2">Práctica de Pronunciación 2 </a></li>
                </ul>
            </li> 

            <li><a href="/avanzadotema3">Passive Voice</a></li>

            <li><a href="/avanzadotema4">Cláusulas Relativas</a></li>
            <li><a href="/avanzadotema5">Práctica de Pronunciación 2 </a></li>
            </ul>
        </li>
            </ul>
        </nav>
        
        
        
        
        </section>
        

</div>


<section class="contenidoingles">
    <div class="titlecontenido">
    
        <h1 align="center">MODALS VERBS</h1> 
        <div class="parrafocontenido"> 
    
            <p id="parrafo">
                Modal verbs are a kind of auxiliary verb. They facilitate the main verb for suggesting potential, expectation, permission, ability, possibility, and obligation.
                When used with the main verb, modal verbs do not end with -s for the third-person singular.  Modal auxiliary verbs never change form, but they have a different form for past tense.
                The modal auxiliaries include: <br>
            </p>
            <br>
            <h2 align="center"> Will – Would </h2>
            <p> Will indicates a ‘willingness’ to do something in the future. The negative form of will – will not (won’t) indicates an ‘unwillingness’ (refusal, reluctance) to do something.
                Example:

            </p>
            <ul>
                <li type ="circle"> I will give you another opportunity.</li>
                <li type ="circle"> I will play tomorrow.</li>
                <li type ="circle"> They will arrive at 10 AM.</li>
                <li type ="circle"> She won’t come today.</li>
            </ul>
            <br>
            <p>
                Would indicates general or repeated willingness in the past. It also indicates preference in the present.  
                Example:
            </p>
            <ul>
                <li type ="circle"> If you did not leave, I would still be taking care of you.</li>
                <li type ="circle"> Whenever I had to go there, they would throw a party</li>
                <li type ="circle"> We thought that people would buy this book.</li>
                <li type ="circle"> If I were you, I would not do it.</li>
            </ul>
            <br>
            <p>
                Used to sometimes replaces would but sometimes it would be grammatically incorrect if we use used to in place of would.  
                Example:
            </p>
            <ul>
                <li type ="circle"> When I was in school, I used to make sketches.</li>
                <li type ="circle"> He often used to cry at night without reason.</li>
                <li type ="circle"> We thought that people would buy this book.</li>
            </ul>
            <br>
            <h2 align="center"> Can – Could – May – Might </h2>
            <br>
            <p>
                These modals express possibility and ability.
                Can indicates ability. Could indicates ability with an option.
                Example:   
            </p>
            <ul>
                <li type ="circle"> I can do it. (The subject ‘I’ is sure about his/her ability)</li>
                <li type ="circle"> I could do it. (The subject ‘I’ is not sure about his/her ability)</li>
                <li type ="circle"> They cannot do it. (present)</li>
                <li type ="circle"> They could not do it. (past)</li>
            </ul>
            <br>
            <p>
                Can & could also indicate possibility.
                Example:  
            </p>
            <ul>
                <li type ="circle">   The temperature can rise this month.</li>
                <li type ="circle"> They can’t go too far by now.</li>
                <li type ="circle"> It could rain later.</li>
            </ul>
            <br>
                <p>
                    May and might both indicate possibility but might can suggest that there is less possibility than may.  
Example: 
                </p>
                <ul>
                    <li type ="circle">   It may rain later.</li>
                    <li type ="circle"> It might rain later.</li>
                    <li type ="circle"> They may come back.</li>
                </ul>
                <br>
                <h2 align ="center"> MUST </h2>
                <p>
                    Must indicates necessity.
                    Example: 
                </p>
                <ul>
                    <li type ="circle">   I must leave now.</li>
                    <li type ="circle"> He must study hard.</li>
                    <li type ="circle"> Alex must go home by 6.00 pm.</li>
                </ul>
                <br>
                <p>
                    Have to has the similar meaning to must but implies less urgency.  
                    Example:
                </p>
                <ul>
                    <li type ="circle">  I have to leave now.</li>
                    <li type ="circle"> Alex has to go by 6.00 pm.</li>
                    <li type ="circle"> I had to leave then. (past)</li>
                </ul>
                <br>
                <h2 align ="center">  SHOULD </h2>
                <P>
                    Should indicates obligation and probability. Example:
                </P>
                <ul>
                    <li type ="circle">  You should come home early.</li>
                    <li type ="circle"> You should not smoke at all.</li>
                    <li type ="circle"> I should visit my parents more often.</li>
                    <li type ="circle">There should be an extra key for the lock in the drawer. (probability)</li>
                    <li type ="circle"> He should have reached by now. (probability)</li>
                    <li type ="circle"> I should have done that. (obligation in the past)</li>
                </ul>
                <br>
        </div>
    </div>
    
    
    </section>

</body>
</html>






    <script src="./script.js"></script>
    <script src="./pushbar.js"></script>
    <script type="text/javascript">
        const pushbar = new Pushbar({
              blur:true,
              overlay:true,
            });
      </script>
          

</body>
</html>