<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharsal Verbs</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../pushbar.css">
    <link type="text/css" rel="stylesheet" href="css/phrasal.css">
</head>
<style type="text/css" media="screen">

    *{
       margin: 0;
       padding: 0;
       font-family: 'Lato', 'sans-serif';
       font-family: 'Oswald', 'sans-serif';
      
       box-sizing: border-box;
    }

    body , html {
       height: 100%;
    }


    .navbar {
       
        margin: auto;
        width: 100%;
        height:100%;
        float: left;
        background: black;
        position: fixed;
    }
  
  ul, ol {

      list-style: none;
  }
   nav li  a{

       background: black;
       text-decoration: none;
       color:white; 
       padding: 10px 15px;
       display: inline-block;
       width: 100%;
       box-sizing: border-box;
       font-size: 25px;
    
   }



   nav li a:hover{
       background-color:#434343;
       text-decoration: underline;
       transition: .4s; 

   } 

   nav > li {

       float: left;
   }

   nav li ul {
       text-decoration: none;
       display: none; 
       position: relative;
       min-width: 140px;
       padding:0px  0px 0px 10px ;
   }

   nav li:hover > ul {
       display:block;   
     
    
   }

   nav li:hover ~ ul{

       color: red;
       display: block;
   }
 

 .contenidoingles {

   height: 700px; 
   width: 80%;
  /* background: #434343; */
   float: right;

 }



.titlecontenido h1{
   
  
   width: 100%;
   text-align: center; 
   margin-top: 5vh;
   color: gray;
   padding:30px;


}

.parrafocontenido {

   font-size: 20px;
   text-align: justify;
   margin-top: 10px;
   padding: 30px;
   font-family: 'Times New Roman', 'Times', 'serif';
   color: #383838;
   line-height: 32px;
}
       
/*bars*/

.btn-bars {

   width: 50px;
   height: 50px;
   border: none;
   background-color: black;
   border-radius: 50%;
   margin: 10px;
   position:fixed; 
   transition: 0.5s;
}
.btn-bars:hover{

   background-color: rgba(170, 31, 49, 0.863);
}

.burmenu {
width: 23.50px;
height: 2.5px;
background-color: white;
margin-top: 4px;
margin-left: 12px;
margin-bottom: 3px;
box-sizing: border-box;
position: relative;
border-radius: 1px;

}


       
       </style>
<body>
    <button class="btn-bars" data-pushbar-target="mypushbar1">
        <div class="burmenu"></div>
        <div class="burmenu"></div>
        <div class="burmenu"></div>
    </button>
    
    
    <div data-pushbar-id="mypushbar1" data-pushbar-direction="left">
       
        <section class="navbar"  >
    
    
            <nav class="listleft">
                <ul >
            
                    <li  ><a   href="/informacion">Menu</a></li>
                    <li><a  id="ilbasico" href="#">Basico</a>
                        <ul>
                        <li><a href="/saludos1">Saludos y expreciones</a></li>
                        <li><a href="/verbotobe">video verbo to be</a>
                            <ul>
                                <li><a href="/videobasico1">Verbos más Utilizados</a></li>
                            </ul>
                        </li>
                        <li><a href="/videobasico2">Aprende los Prombres Personales</a></li>
                        <li><a href="/videobasico3">Más Vocabulario aprende los Colores</a></li>
                        </ul>
             </li>
            
             <li>
                <a href="#">Intermedio</a>
                <ul>
                <li><a href="/phrasalVerbs">Frases Verbales</a></li>
                <li><a href="/videointermediotema1">Conversaciones en Ingles</a></li>
                <li><a href="/videointermediotema2">Conversaciones en Ingles</a></li>
                <li><a href="/videointermediotema3">Serie de Comedia</a></li>
                </ul>
    
            </li>
            <li>
                <a href="#">Avanzado</a>
                <ul>
    
                <li><a href="/avanzadotema1">Indirect Questions</a>
                    <ul>
                        <li><a href="/videoavanzadotema1">Práctica de Pronunciación 1</a></li>
                    </ul>
                </li>
    
                <li><a href="/avanzadotema2">Comparing with prepositions</a>
                    <ul>
                        <li><a href="/videoavanzadotema2">Práctica de Pronunciación 2 </a></li>
                    </ul>
                </li> 
    
                <li><a href="/avanzadotema3">Passive Voice</a></li>
    
                <li><a href="/avanzadotema4">Cláusulas Relativas</a></li>
                <li><a href="/avanzadotema5">Práctica de Pronunciación 2 </a></li>
                </ul>
            </li>
                </ul>
            </nav>
            
            
            
            
            </section>
            
    
    </div>
    
    <div class="page-content">
        <h2>Pharsal Verbs</h2>
        <div class="card">
            <div class="content">
                <h2 class="title">Add up</h2>
                <ul class="copy">
                    <li type="circle">Sumar</li>
                    <li type="circle">Añadir</li>
                    <li type="circle">Agregar</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Add up to</h2>
                <ul class="copy">
                    <li type="circle">Alcanzar un total</li>
                    <li type="circle">Significar algo</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Answer back</h2>
                <ul class="copy">
                    <li type="circle">Responder</li>
                    <li type="circle">Replicar</li>
                    <li type="circle">Contestar de malos modos</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Ask about</h2>
                <ul class="copy">
                    <li type="circle">Preguntar por (por un asunto)</li>
                    <li type="circle">Preguntar acerca de</li>
                    <li type="circle">Preguntar sobre</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Ask in</h2>
                <ul class="copy">
                    <li type="circle">Invitar a entrar</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Ask out</h2>
                <ul class="copy">
                    <li type="circle">Invitar a salir (Invitar a alguien al cine, a cenar, etc)</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Back out</h2>
                <ul class="copy">
                    <li type="circle">Volver atrás</li>
                    <li type="circle">Retirarse</li>
                    <li type="circle">Marcha atrás</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Back up</h2>
                <ul class="copy">
                    <li type="circle">Reforzar</li>
                    <li type="circle">Respaldar</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Be about</h2>
                <ul class="copy">
                    <li type="circle">Estar cerca de</li>
                    <li type="circle">Estar alrededor de algo</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Be back</h2>
                <ul class="copy">
                    <li type="circle">Estar de vuelta</li>
                    <li type="circle">Volver</li>
                    <li type="circle">Regresar</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Be over</h2>
                <ul class="copy">
                    <li type="circle">Terminar</li>
                    <li type="circle">Estar acabado</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Bend down</h2>
                <ul class="copy">
                    <li type="circle">Agacharse</li>
                    <li type="circle">Incinarse</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Blow down</h2>
                <ul class="copy">
                    <li type="circle">Derrumbarse</li>
                    <li type="circle">Venirse abajo (Por el viento)</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Blow up</h2>
                <ul class="copy">
                    <li type="circle">Volar (Con explosivos)</li>
                    <li type="circle">Explotar</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Break away</h2>
                <ul class="copy">
                    <li type="circle">Soltarse</li>
                    <li type="circle">Desprenderse</li>
                    <li type="circle">Separarse</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Break off</h2>
                <ul class="copy">
                    <li type="circle">Romperse (Relaciones)</li>
                    <li type="circle">Terminar</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Break out</h2>
                <ul class="copy">
                    <li type="circle">Declararse (Guerra, etc)</li>
                    <li type="circle">Iniciarse</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Break up</h2>
                <ul class="copy">
                    <li type="circle">Terminar (una relación)</li>
                    <li type="circle">Dividir</li>
                    <li type="circle">Disolverse</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Bring down</h2>
                <ul class="copy">
                    <li type="circle">Bajar (algo o alguien)</li>
                    <li type="circle">Reducir</li>
                    <li type="circle">Disminuir</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Bring in</h2>
                <ul class="copy">
                    <li type="circle">Hacer entrar (Persona)</li>
                    <li type="circle">Traer (Objeto)</li>
                    <li type="circle">Aportar</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Burn out</h2>
                <ul class="copy">
                    <li type="circle">Extinguirse (por el fuego)</li>
                    <li type="circle">Consumirse</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Buy up</h2>
                <ul class="copy">
                    <li type="circle">Acaparar</li>
                    <li type="circle">Comprar todas las existencias de</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Call for</h2>
                <ul class="copy">
                    <li type="circle">Exigir</li>
                    <li type="circle">Pedir a voces</li>
                    <li type="circle">Demandar</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Call in</h2>
                <ul class="copy">
                    <li type="circle">Entrar</li>
                    <li type="circle">Hacer entrar</li>
                    <li type="circle">Llamar</li>
                    <li type="circle">Pedir ayuda</li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="./script.js"></script>
<script src="./pushbar.js"></script>
<script type="text/javascript">
    const pushbar = new Pushbar({
        blur: true,
        overlay: true,
    });
</script>

</html>