<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="../pushbar.css">


    <style type="text/css" media="screen">

     *{
        margin: 0;
        padding: 0;
        font-family: 'Lato', 'sans-serif';
        font-family: 'Oswald', 'sans-serif';
       
        box-sizing: border-box;
     }

     body , html {
        height: 100%;
     }


     .navbar {
        
         margin: auto;
         width: 100%;
         height:100%;
         float: left;
         background: black;
         position: fixed;
     }
   
   ul, ol {

       list-style: none;
   }
    nav li  a{

        background: black;
        text-decoration: none;
        color:white; 
        padding: 10px 15px;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        font-size: 25px;
     
    }



    nav li a:hover{
        background-color:#434343;
        text-decoration: underline;
        transition: .4s; 

    } 

    nav > li {

        float: left;
    }

    nav li ul {
        text-decoration: none;
        display: none; 
        position: relative;
        min-width: 140px;
        padding:0px  0px 0px 10px ;
    }

    nav li:hover > ul {
        display:block;   
      
     
    }

    nav li:hover ~ ul{

        color: red;
        display: block;
    }
  

  .contenidoingles {

    height: 700px; 
    width: 80%;
   /* background: #434343; */
    float: right;

  }



 .titlecontenido h1{
    
   
    width: 100%;
    text-align: center; 
    margin-top: 5vh;
    color: gray;
    padding:30px;


 }

.parrafocontenido {

    font-size: 20px;
    text-align: justify;
    margin-top: 10px;
    padding: 30px;
    font-family: 'Times New Roman', 'Times', 'serif';
    color: #383838;
    line-height: 32px;
}
        
/*bars*/

.btn-bars {

    width: 50px;
    height: 50px;
    border: none;
    background-color: black;
    border-radius: 50%;
    margin: 10px;
    position:fixed; 
    transition: 0.5s;
}
.btn-bars:hover{

    background-color: rgba(170, 31, 49, 0.863);
}

.burmenu {
width: 23.50px;
height: 2.5px;
background-color: white;
margin-top: 4px;
margin-left: 12px;
margin-bottom: 3px;
box-sizing: border-box;
position: relative;
border-radius: 1px;
 
}

.imganblock{
    
    float: left;
}


        
        </style>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    

<header> </header>

<button class="btn-bars" data-pushbar-target="mypushbar1">
    <div class="burmenu"></div>
    <div class="burmenu"></div>
    <div class="burmenu"></div>
</button>


<div data-pushbar-id="mypushbar1" data-pushbar-direction="left">
       
    <section class="navbar"  >


        <nav class="listleft">
            <ul >
        
                <li  ><a   href="/informacion">Menu</a></li>
                <li><a  id="ilbasico" href="#">Basico</a>
                    <ul>
                    <li><a href="/saludos1">Saludos y expreciones</a></li>
                    <li><a href="/verbotobe">video verbo to be</a>
                        <ul>
                            <li><a href="/videobasico1">Verbos más Utilizados</a></li>
                        </ul>
                    </li>
                    <li><a href="/videobasico2">Aprende los Prombres Personales</a></li>
                    <li><a href="/videobasico3">Más Vocabulario aprende los Colores</a></li>
                    </ul>
         </li>
        
         <li>
            <a href="#">Intermedio</a>
            <ul>
            <li><a href="/phrasalVerbs">Frases Verbales</a></li>
            <li><a href="/videointermediotema1">Conversaciones en Ingles</a></li>
            <li><a href="/videointermediotema2">Conversaciones en Ingles</a></li>
            <li><a href="/videointermediotema3">Serie de Comedia</a></li>
            </ul>

        </li>
        <li>
            <a href="#">Avanzado</a>
            <ul>

            <li><a href="/avanzadotema1">Indirect Questions</a>
                <ul>
                    <li><a href="/videoavanzadotema1">Práctica de Pronunciación 1</a></li>
                </ul>
            </li>

            <li><a href="/avanzadotema2">Comparing with prepositions</a>
                <ul>
                    <li><a href="/videoavanzadotema2">Práctica de Pronunciación 2 </a></li>
                </ul>
            </li> 

            <li><a href="/avanzadotema3">Passive Voice</a></li>

            <li><a href="/avanzadotema4">Cláusulas Relativas</a></li>
            <li><a href="/avanzadotema5">Práctica de Pronunciación 2 </a></li>
            </ul>
        </li>
            </ul>
        </nav>
        
        
        
        
        </section>
        

</div>

<section class="contenidoingles">
<div class="titlecontenido">

    <h1>Saludos y  Expresciones</h1> 
    <div class="parrafocontenido"> 

        <p id="parrafo">La mayoría de las expresiones que vamos a ver a continuación constituyen frases
            idiomáticas o modismos. Los modismos son formas del idioma que no obedecen
            algunas reglas gramaticales y muchas de ellas no tienen traducción literal.</p>

            <br>

            <table class="default">
                <tr>
                  <td>Buenos Días</td>
                  <td> Good Morning</td>
                 
                </tr>
                <tr>
                  <td>Buenas Tardes</td>
                  <td> Good Afternoon</td>
        
                </tr>
                <tr>
                    <td>Buenas Noches</td>
                    <td> Good Night</td>
                   
                  </tr>
                  <tr>
                    <td>Por Favor </td>
                    <td> Please</td>
          
                  </tr>

                  <tr>
                    <td>¿Cómo está usted? </td>
                    <td> How Are You?</td>
                   
                  </tr>
                  <tr>
                    <td>Gracias </td>
                    <td>Thanks</td>
          
                  </tr>

                  <tr>
                    <td>Muchísimas Gracias </td>
                    <td>Thank You Very Much</td>
                   
                  </tr>
                  <tr>
                    <td>No Hay De Que </td>
                    <td>   You Are Welcome</td>
          
                  </tr>



              </table>
        
    </div>

   
</div>


</section>





<section class="contenidoingles">
    <div class="titlecontenido">
    
        <div> 

            <img class="imganblock"  src="https://i.pinimg.com/originals/47/10/8d/47108d0b63b06c78ad51f0478ef74934.gif" width="360px" height="298px" ></div>
            <img class="imganblock" src="https://c.tenor.com/R9L91s_A5YQAAAAM/good-mor-morning.gif" width="360px" height="298px" ></div>
           
    
    </section>




    <script src="./script.js"></script>
    <script src="../pushbar.js"></script>
    <script type="text/javascript">
        const pushbar = new Pushbar({
              blur:true,
              overlay:true,
            });
      </script>
          

</body>
</html>