*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}
.wrapper{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  /* clip-path: circle(25px at calc(0% + 45px) 45px); */
  background: #15153B;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}


.wrapper-title{

  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/45664hd.jpg");

}




#active:checked ~ .wrapper{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  background: #000;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  color: #fff;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  margin: 15px 0;
}
.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 500px;
  background: #15153B;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: rgb(166, 58, 255);
   background: linear-gradient(#2b837a);
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%; /* if the font is 'Oswald'*/
  border-radius: 500px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #fff;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
  

}
.title{
  font-size: 40px;
  font-weight: 700;
  padding-top: 300px;
 

 
}
.content p{
  font-size: 35px;
  font-weight: 600;
 
  color: #fff;
}

@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}



.cartas{

  position:absolute;
  left: 10%;
  width: 80%;
  height: 1356.6px;
  margin-top: 20%;
  margin-bottom: 20%;

 
}




.nosotros{

  margin-top:200px;
  width: 100%;
  height: 500px;
  background-color: #202020;
}


.nosotros img{

  float: left;
  margin-top: 6%; 
  margin-left: 3%;
  position: relative; 
  width: 287px;
  height: 272px;
  border-radius: 50%;
  transition: 1s;
}

.nosotros img:hover{

  width: 300px;
  height: 300px;
}

.text-about {
  padding: 30px;
}

.nosotros .text-about {
 
  position:absolute; 
  right: 0px;
  width: 451px;
  height: 300px;
  justify-content: safe;
   color: #fff;
  font-family: Robot;
}

.nosotros .text-about h1 {
  margin-bottom: 20px;
  font-size: 80px;
  color: rgb(163, 0, 82);
}

.nosotros .text-about h5 {
  margin-bottom: 25px;
  font-size: 25px;
}


.nosotros .text-about p {

  font-size: 18px;
  color: #fff;
}

.footercont { 
  width: 100%; 
  background: #202020;
  height: 50px;
  position:relative;
}


.barrahorizontal{
  top: 300px;
  position: absolute;
  width:100%; 
  height: 150px;
  background-color: #00000096;

}