*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', 'sans-serif';
    overflow: hidden;

}


body , html {
    height: 100%; 
    box-sizing: border-box; 
}

body{
    margin: 0;
    padding: 0;
    background: #15153B;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.formulariocaja{
    width: 300px;
    height: 400px;
    padding: 40px;
    padding-top: 40px;
    background: #191919;
    text-align: center;
    box-sizing: content-box;
}


/*titulo h1*/

.formulariotitulo{
    color: white;
    text-transform:capitalize; 
    font-weight: 100px;
}


.formulariocaja .textoinput {

    border: 0;
    background: none;
    display: block;
    margin: 50px auto 10px;
    padding: 10px 10px;
    border: 2px solid #3742fa;
    width: 250px;
    outline: none;
    text-align: center;
    color: white;
    border-radius: 20px;
    transition: 0.25s;
    font-size: 20px;
}



.formulariocaja input[type="password"]{

    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 10px 10px;
    border: 2px solid #3742fa;
    width: 250px;
    outline: none;
    text-align: center;
    color: white;
    border-radius: 20px;
    transition: 0.25s;
    font-size: 20px;
}



.formulariocaja  input[type="submit"]{

    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    border: 2px solid #3742fa;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    background: #3742fa;

}

/*animaciones*/
.formulariocaja input[type="submit"]:hover{

    background: none; 
}



.formulariocaja input[type="text"]:focus , .formulariocaja input[type="password"]:focus{

    width: 290px;
    border: 2px solid #6D6BFA;
}




.formicon{

    width: 80px;
    height: 80px;
    box-sizing: border-box;
    margin-bottom: 10px;
}