
     *{
        margin: 0;
        padding: 0;
        font-family: 'Lato', 'sans-serif';
        font-family: 'Oswald', 'sans-serif';
       
        box-sizing: border-box;
     }

     body , html {
        height: 100%;
     }


     .navbar {
        
         margin: auto;
         width: 100%;
         height:100%;
         float: left;
         background: #15153B;
         position: fixed;
     }
   
   ul, ol {

       list-style: none;
   }
    nav li  a{

        background: #15153B;
        text-decoration: none;
        color:white; 
        padding: 10px 15px;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        font-size: 25px;
     
    }



    nav li a:hover{
        background-color:#434343;
        text-decoration: underline;
        transition: .4s; 

    } 

    nav > li {

        float: left;
    }

    nav li ul {
        text-decoration: none;
        display: none; 
        position: relative;
        min-width: 140px;
        padding:0px  0px 0px 10px ;
    }

    nav li:hover > ul {
        display:block;   
      
     
    }

    nav li:hover ~ ul{

        color: red;
        display: block;
    }
  

  .contenidoingles {

    height: 700px; 
    width: 80%;
   /* background: #434343; */
    float: right;

  }



 .titlecontenido h1{
    
   
    width: 100%;
    text-align: center; 
    margin-top: 5vh;
    color: gray;
    padding:30px;


 }

.parrafocontenido {

    font-size: 20px;
    text-align: justify;
    margin-top: 10px;
    padding: 30px;
    font-family: 'Times New Roman', 'Times', 'serif';
    color: #383838;
    line-height: 32px;
}
        
/*bars*/

.btn-bars {

    width: 50px;
    height: 50px;
    border: none;
    background-color: black;
    border-radius: 50%;
    margin: 10px;
    position:fixed; 
    transition: 0.5s;
}
.btn-bars:hover{

    background-color: rgba(170, 31, 49, 0.863);
}

.burmenu {
width: 23.50px;
height: 2.5px;
background-color: white;
margin-top: 4px;
margin-left: 12px;
margin-bottom: 3px;
box-sizing: border-box;
position: relative;
border-radius: 1px;
 
}
