
     *{
        margin: 0;
        padding: 0;
        font-family: 'Lato', 'sans-serif';
        font-family: 'Oswald', 'sans-serif';
       
        box-sizing: border-box;
     }

     body , html {
        height: 100%;
     }
  
  .contenidoingles {

    height: 700px; 
    width: 80%;
   /* background: #434343; */
    float: right;

  }



 .titlecontenido h1{
    
   
    width: 100%;
    text-align: center; 
    margin-top: 5vh;
    color: gray;
    padding:30px;


 }

.parrafocontenido {

    font-size: 20px;
    text-align: justify;
    margin-top: 10px;
    padding: 30px;
    font-family: 'Times New Roman', 'Times', 'serif';
    color: #383838;
    line-height: 32px;
}

/*textarea */

#answertexarea{

    width: 70%; 
    margin-top:50px;
    height: 100px;
    position: relative;
    box-sizing: border-box;
    transition: 0.9s;
    font-family: Arial, Helvetica, sans-serif;

}


#btntextare{
    padding: 10px;
    border: none;
    background: #bdb719;
    border-radius: 10px;
    position: relative;
    transition: 100ms;
}



#btntextare:hover{
    background: none;
    border: #bdb719 solid 2px ;
}
    
#btntextare:active {
    
    transform: translateY(4px);
  
}

.parrafocorrectoin {
    position: relative;
    float: left;
}

.correctoonocorrecto {
    position: relative;
    float: left;
    margin-left: 20px;
}

#exitoso {
    width: 70%;
    height: 50px;
}




.animacionp {
    animation: animacionmovimiento 1s ;
    
}


@keyframes animacionmovimiento {
    from{
        left: 0;
    }
    20%{
        left: 15px;
    }

    20%{
        left: 0px;
    }
    20%{
        left: 15px;
    }
    to{
        left: 0px;
    }
}



/*botones  de 
reconocimiento de voz
*/


#stop {

    padding: 10px;
    border: none;
    background: red;
    border-radius: 10px;
    position: relative;
    transition: 100ms;
    color: white;
}



#stop:hover{
    background: none;
    border: red solid 2px ;
    color: black;
}
    
#stop:active {
    
    transform: translateY(4px);
  
}








#stop-icon {

    padding: 10px;
    border: none;
    background: #15153B;
    border-radius: 10px;
    position: relative;
    transition: 100ms;
    color: white;
}



#stop-icon:hover{
    background: none;
    border: red solid 2px ;
    color: black;
}
    
#stop-icon:active {
    
    transform: translateY(4px);
  
}