<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idioms</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../pushbar.css">
    <link type="text/css" rel="stylesheet" href="css/phrasal.css">
</head>
<style type="text/css" media="screen">
    * {
        margin: 0;
        padding: 0;
        font-family: 'Lato', 'sans-serif';
        font-family: 'Oswald', 'sans-serif';

        box-sizing: border-box;
    }

    body,
    html {
        height: 100%;
    }


    .navbar {

        margin: auto;
        width: 100%;
        height: 100%;
        float: left;
        background: black;
        position: fixed;
    }

    ul,
    ol {

        list-style: none;
    }

    nav li a {

        background: black;
        text-decoration: none;
        color: white;
        padding: 10px 15px;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        font-size: 25px;

    }



    nav li a:hover {
        background-color: #434343;
        text-decoration: underline;
        transition: .4s;

    }

    nav>li {

        float: left;
    }

    nav li ul {
        text-decoration: none;
        display: none;
        position: relative;
        min-width: 140px;
        padding: 0px 0px 0px 10px;
    }

    nav li:hover>ul {
        display: block;


    }

    nav li:hover~ul {

        color: red;
        display: block;
    }


    .contenidoingles {

        height: 700px;
        width: 80%;
        /* background: #434343; */
        float: right;

    }



    .titlecontenido h1 {


        width: 100%;
        text-align: center;
        margin-top: 5vh;
        color: gray;
        padding: 30px;


    }

    .parrafocontenido {

        font-size: 20px;
        text-align: justify;
        margin-top: 10px;
        padding: 30px;
        font-family: 'Times New Roman', 'Times', 'serif';
        color: #383838;
        line-height: 32px;
    }

    /*bars*/

    .btn-bars {

        width: 50px;
        height: 50px;
        border: none;
        background-color: black;
        border-radius: 50%;
        margin: 10px;
        position: fixed;
        transition: 0.5s;
    }

    .btn-bars:hover {

        background-color: rgba(170, 31, 49, 0.863);
    }

    .burmenu {
        width: 23.50px;
        height: 2.5px;
        background-color: white;
        margin-top: 4px;
        margin-left: 12px;
        margin-bottom: 3px;
        box-sizing: border-box;
        position: relative;
        border-radius: 1px;

    }
</style>

<body>
    <button class="btn-bars" data-pushbar-target="mypushbar1">
        <div class="burmenu"></div>
        <div class="burmenu"></div>
        <div class="burmenu"></div>
    </button>


    <div data-pushbar-id="mypushbar1" data-pushbar-direction="left">

        <section class="navbar">


            <nav class="listleft">
                <ul>

                    <li><a href="/informacion">Menu</a></li>
                    <li><a id="ilbasico" href="#">Basico</a>
                        <ul>
                            <li><a href="/saludos1">Saludos y expreciones</a></li>
                            <li><a href="/verbotobe">video verbo to be</a>
                                <ul>
                                    <li><a href="/videobasico1">Verbos más Utilizados</a></li>
                                </ul>
                            </li>
                            <li><a href="/videobasico2">Aprende los Prombres Personales</a></li>
                            <li><a href="/videobasico3">Más Vocabulario aprende los Colores</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Intermedio</a>
                        <ul>
                            <li><a href="/phrasalVerbs">Frases Verbales</a></li>
                            <li><a href="/idioms">Modismo</a></li>
                            <li><a href="/videointermediotema1">Conversaciones en Ingles</a></li>
                            <li><a href="/videointermediotema2">Conversaciones en Ingles</a></li>
                            <li><a href="/videointermediotema3">Serie de Comedia</a></li>
                        </ul>

                    </li>
                    <li>
                        <a href="#">Avanzado</a>
                        <ul>

                            <li><a href="/avanzadotema1">Indirect Questions</a>
                                <ul>
                                    <li><a href="/videoavanzadotema1">Práctica de Pronunciación 1</a></li>
                                </ul>
                            </li>

                            <li><a href="/avanzadotema2">Comparing with prepositions</a>
                                <ul>
                                    <li><a href="/videoavanzadotema2">Práctica de Pronunciación 2 </a></li>
                                </ul>
                            </li>

                            <li><a href="/avanzadotema3">Passive Voice</a></li>

                            <li><a href="/avanzadotema4">Cláusulas Relativas</a></li>
                            <li><a href="/avanzadotema5">Práctica de Pronunciación 2 </a></li>
                        </ul>
                    </li>
                </ul>
            </nav>




        </section>


    </div>

    <div class="page-content">
        <h2>Idioms</h2>
        <div class="card">
            <div class="content">
                <h2 class="title">An early bird</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Persona que madruga o llega temprano</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Birds of a feather</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Similares o iguales</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Spill the beans</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Revelar o decir la verdad</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Full of beans</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Lleno de vitalidad o de energía</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Not know beans</h2>
                <ul class="copy">
                    <p><b>Significado: </b>No saber ni nada de algún tema</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Out of the blue</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Inesperadamente, de repente</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Feel blue</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Estar triste o deprimido</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Tell blue jokes</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Contar chistes pesados</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Give someone the boot</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Despedir a alguien</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Fill someone's boots</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Reemplazar o sustituir una persona valiosa</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Best thing since sliced bread</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Lo mejor que hay</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">A good egg</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Un tipo simpático y buena gente</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">A dark horse</h2>
                <ul class="copy">
                    <p><b>Significado: </b>El candidato menos conocido</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Can't cut it</h2>
                <ul class="copy">
                    <p><b>Significado: </b>No puede cumplir con los requisitos</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">A cut above the rest</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Superior a los demás</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">A couch potato</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Persona perezosa o floja</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">In a stew about something</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Estar preocupado/a o enfadado/a</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Put on airs</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Actuar como un alguien superior</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">See eye to eye</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Estar de acuerdo</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Get a leg up</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Tener ventaja</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Pull someone's leg</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Tomarle el pelo a alguien</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Last leg of a race</h2>
                <ul class="copy">
                    <p><b>Significado: </b>Última parte de una carrera</p>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Take a shot in the dark</h2>
                <ul class="copy">
                    <p><b>Significado: </b> Adivinar o especular</p>
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="./script.js"></script>
<script src="./pushbar.js"></script>
<script type="text/javascript">
    const pushbar = new Pushbar({
        blur: true,
        overlay: true,
    });
</script>


</html>