<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    
    <!--Propiedades de menu despleglabe-->
    <link type="text/css" rel="stylesheet" href="../estilo.css" >

    <!--Estilos de navbar menu-->
    <link type="text/css" rel="stylesheet" href="../css/navbarmenu.css"> 
    <link type="text/css" rel="stylesheet" href="../css/videos.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    

<header> </header>

<button class="btn-bars" data-pushbar-target="mypushbar1">
    <div class="burmenu"></div>
    <div class="burmenu"></div>
    <div class="burmenu"></div>
</button>

<div data-pushbar-id="mypushbar1" data-pushbar-direction="left">
       
    <section class="navbar"  >


        <nav class="listleft">
            <ul >
        
                <li  ><a   href="/informacion">Menu</a></li>
                <li><a  id="ilbasico" href="#">Basico</a>
                    <ul>
                    <li><a href="/saludos1">Saludos y expreciones</a></li>
                    <li><a href="/verbotobe">video verbo to be</a>
                        <ul>
                            <li><a href="/videobasico1">Verbos más Utilizados</a></li>
                        </ul>
                    </li>
                    <li><a href="/videobasico2">Aprende los Prombres Personales</a></li>
                    <li><a href="/videobasico3">Más Vocabulario aprende los Colores</a></li>
                    </ul>
         </li>
        
         <li>
            <a href="#">Intermedio</a>
            <ul>
            <li><a href="/phrasalVerbs">Frases Verbales</a></li>
            <li><a href="/videointermediotema1">Conversaciones en Ingles</a></li>
            <li><a href="/videointermediotema2">Conversaciones en Ingles</a></li>
            <li><a href="/videointermediotema3">Serie de Comedia</a></li>
            </ul>

        </li>
        <li>
            <a href="#">Avanzado</a>
            <ul>

            <li><a href="/avanzadotema1">Indirect Questions</a>
                <ul>
                    <li><a href="/videoavanzadotema1">Práctica de Pronunciación 1</a></li>
                </ul>
            </li>

            <li><a href="/avanzadotema2">Comparing with prepositions</a>
                <ul>
                    <li><a href="/videoavanzadotema2">Práctica de Pronunciación 2 </a></li>
                </ul>
            </li> 

            <li><a href="/avanzadotema3">Passive Voice</a></li>

            <li><a href="/avanzadotema4">Cláusulas Relativas</a></li>
            <li><a href="/avanzadotema5">Práctica de Pronunciación 2 </a></li>
            </ul>
        </li>
            </ul>
        </nav>
        
        
        
        
        </section>
        

</div>



<section class="contenidoingles">
<div class="titlecontenido">

    <h1>Conversacion en Ingles</h1> 
    <div class="parrafocontenido"> 
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/ASiKKbX9qG0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
    
        <p> CUAL ES EL TEMA PRINCIPAL DEL DISCURSO</p>
       
        <input  type="radio" name="gender" value="porque definir tus metas"> porque definir tus metas<br>
        <input type="radio" name="gender" value="a el le gusta hablar de sus metas"> a el le gusta hablar de sus metas<br>
        <input type="radio" name="gender" value="porque es importante hablar de sus metas"> porque es importante hablar de sus metas<br>

        <div id="exitoso"></div>
        <input  id="btntextare"type="submit" onclick="onclickinpse()">
    
    </div>


</div>


</section>








    <script src="./script.js"></script>
    <script src="./pushbar.js"></script>
    <script type="text/javascript">
        const pushbar = new Pushbar({
              blur:true,
              overlay:true,
            });

        function onclickinpse(){    

            //obtiene la lista de input  
            var listelements = document.getElementsByTagName("input")

 
             //verificar si el elemento input es try y esta checkeado    
            if(listelements[0].value  == "porque definir tus metas" && listelements[0].checked == true ){

            var exitoso = document.getElementById("exitoso") 
            exitoso.innerHTML = `<p  class="parrafocorrectoin animacionp" style="color:green;">successful</p> 
            <img class="correctoonocorrecto animacionp" width="50px" height="50px" src="https://img2.freepng.es/20180419/hqq/kisspng-check-mark-computer-icons-correct-5ad892589c95b2.9243657815241426806414.jpg">
            `
               //para enviar a otra pagina window.location = "https://www.tutorialspoint.com";
                
            }else{
             
            var exitoso = document.getElementById("exitoso") 
            exitoso.innerHTML = `<p class="parrafocorrectoin animacionp" style="color:red;">incorrect</p> 
            <img class="correctoonocorrecto animacionp" width="40px" height="40px" src="https://cdn2.iconfinder.com/data/icons/web-and-apps-interface/32/Cancel-512.png">
            `
            }
         
    
    }

      </script>



          



</body>
</html>